.allcartbox{
 width: 100%;
 height: max-content;
 display: flex;
 background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
  backdrop-filter: blur(5px); 
}
.leftcartbox{
    width: 70%;
    height:auto;
    background-color: aqua;
}
.rightcartbox{
    width: 30%;
    height: max-content;
    background-color: aquamarine;
}
.topcartbox{
    display: flex;
    padding-top: 100px;
}