.headerhover:hover {
    color: #ccff02;
  }
  
  .header-container {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  .content-container {
    margin-top: 10px; /* Adjust the margin-top value based on the height of the header */
    overflow-y: scroll;
    margin-bottom: 10px;
  }
  
  .buy {
    color: #ccff02;
    border: 2px solid #ccff02;
    font-weight: bolder;
  }
  
  .buy:hover {
    background-color: #ccff02;
    color: black;
  }
  
  .headerhover {
    font-weight: bolder;
  }
  
  .buy:nth-child(1) {
    margin-right: 10px;
  }
  
  .buy:nth-child(2) {
    color: #ccff02;
  }
  
  .buy:nth-child(2):hover {
    background-color: #ccff02;
    color: black;
  }
  
  /* Media Query for Phones */
  @media only screen and (max-width: 600px) {
    .header-container {
        width: auto;
    }
    
   
  }
  
  /* Media Query for Tablets */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .header-container {
      width: auto;
    }
    
   
  }
  
  /* Media Query for All Screen Sizes */
  @media only screen and (min-width: 1025px) {
    .header-container {
        width: auto;
    }
    
   
  }
  