.allcontalcarosel{
    text-align: center;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .image-rotation {
    animation: rotate 15s linear infinite;
    margin-left: 50%;
   
  }